APP_NAME=
APP_DEBUG=
APP_URL=
PORT=
APP_ENV=

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRATION=

DB_CONNECTION=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_DATABASE=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_BUCKET_REGION=
AWS_BUCKET_NAME=
AWS_ARN=

SOWER_MAIL=

MAILGUN_API_KEY=
MAILGUN_PUBLIC_KEY=
MAILGUN_PWD=
MAILGUN_DOMAIN=

FLUTTERWAVE_URL=
FLW_SECRET_KEY=
FLW_PUBLIC_KEY=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_BUCKET_REGION=
AWS_BUCKET_NAME=

MJ_APIKEY_PUBLIC=
MJ_APIKEY_PRIVATE=

SOWER_RESET_PASSWORD_URL=
